
.menu {
  overflow: hidden;
  /* display: inline-block; */

}

ul {
  list-style-type: none;
}

li {
  display: inline;
  text-align: center;
}

a {
  color: red;
}

/* menu li {
  display: inline-block;
  text-align: center;
} */