
.menu {
  overflow: hidden;
  /* display: inline-block; */

}

ul {
  list-style-type: none;
}

li {
  display: inline;
  text-align: center;
}

a {
<<<<<<< HEAD
  color: blue;
=======
  color: green;
>>>>>>> feature/link-color-change
}

/* menu li {
  display: inline-block;
  text-align: center;
} */
